* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-sizing: border-box;
}

h1 {
  width: 100%;
  max-width: 500px;
  padding-left: 40%;
}

.container {
  background: linear-gradient(0deg, rgb(82, 229, 192), rgb(103, 222, 255));
  width: 100%;
  min-height: 100vh;
  padding: 10px;
}

.todo-app {
  width: 100%;
  max-width: 540px;
  background: white;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}

h1 {
  color: rgb(20, 56, 56);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 15px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(243, 243, 243);
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-size: 14px;
}

button {
  border: none;
  outline: none;
  padding: 16px;
  background: white;
  color: rgb(63, 63, 63);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 40px;
}

ul li {
  list-style: none;
  font-size: 18px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  background: rgb(255, 255, 255);
  border-radius: 30px;
  position: relative;
}

ul li::before {
  content: "";
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 30px;
}

ul li.checked {
  color: rgba(24, 24, 24, 0.635);
  text-decoration: line-through;
}

ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: black;
  line-height: 40px;
  text-align: center;
  background-color: rgb(243, 242, 242);
  border-radius: 40px;
}
